.sideMain {
    width: 340px;
    height: 720px;
    background-color: #C9EFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videoMain {
    padding: 20px;
}

.videoMain>iframe {
    width: 600px;
}

.anchorMain {
    display: flex;
}