.profile-anchor {
    padding-top: 45px;
    padding-left: 45px;
    display: flex;
    height: 640px;
}

.anchorProfile {
    display: flex;
}

.avatar {
    border-radius: 50%;
    width: 200px;
}

.camera-image {
    width: 50px;
    height: 50px;
    background: #D9D9D9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 130px;
    bottom: 50px;
}

.camera-image>img {
    width: 25px;
    height: 25px;
}

.profile-ava {}

.circular {
    width: 200px;
}

.card-profile {
    display: flex;
}

.card-profile-name>div:first-child {
    font-weight: 500;
    font-size: 36px;
}

.card-profile-name>div {
margin: 20px;
margin-left: 50px;
}

.card-profile-name>div:nth-child(2) {
    font-weight: 10;
    font-size: 24px;
}

.lessons-profile {
    overflow: scroll;
    height: 400px
}