.profile__anchor {
    font-size: 20px;
    display: flex;
    height: 32em;
    width: 60em;
    justify-content: space-between;
}

.card__profile {
    display: flex;
}

.profile__avatar {
    border-radius: 50%;
    width: 10em;
}

.camera-image {
    width: 2.5em;
    height: 2.5em;
    background: #D9D9D9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 6.5em;
    bottom: 2.5em;
}

.camera-image>img {
    width: 1.25em;
    height: 1.25em;
}

.card__profile__name>div:first-child {
    font-weight: 500;
    font-size: 36px;
}

.card__profile__name>div {
    margin: 20px;
    margin-left: 50px;
}

.card__profile__name>div:nth-child(2) {
    font-weight: 10;
    font-size: 24px;
}

.profile__lessons {
    overflow: scroll;
    /* height: 20em; */
    font-size: 15px;
    width: max-content;
}

.lesson__percent {
    margin: 0 0 0 3em;
}

.profile__circular {
    display: flex;
    justify-content: center;
    width: 30em;
}

.profile__circular>svg {
    width: 60%;
    height: 60%;
}