profile-drop-anchor {}
.ava-drop {
    display: flex;
    align-items: center;
}
.ava-drop img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 10px;
}
.drops h3 {
border-top: 2px solid black;
padding-block: 20px;
margin: 0;
}

.drops h3:last-child {
    border-bottom: 2px solid black;
}