.drop__anchor {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}

.drop__ava {
    display: flex;
    align-items: center;
}

.drop__username * {
    margin: 10px;
}

.drop__ava img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 10px 10px 10px 0px;
}

.drop__list h3 {
    border-top: 2px solid black;
    padding: 20px 0px;
    margin: 0;
}

.drop__list h3:last-child {
    border-bottom: 2px solid black;
}