.header__root {
    position: relative;
}

.header__anchor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #7CA9FF;
    height: 100%;
}
.header__anchor>div {
    margin: 20px 50px;
}
.header__signin {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #BBDAFF;
    border-radius: 10px;
    font-weight: 800;
    font-size: 20px;
    padding: 10px 20px;
    color: #00046A;
    cursor: pointer;
}

.header__drop {
    position: absolute;
    right: 0;
    margin-right: 40px;
    margin-top: 10px;
    animation: todrop 1s;
    z-index: 10;
}

@keyframes todrop {
    from {
        margin-top: -80%;
    }

    to {
        margin-top: 10px;
    }
}