.sidebar__anchor {
    background-color: #C9EFFF;
    height: 100%;
    overflow-y: scroll;
}

.sidebar__head {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sidebar__anchor>div>p {
    text-align: center;
}