.footer__anchor {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #00095B;
}

.footer__content {
    margin: 35px 10%;
}

.footer__content h2 {
    color: white;
    text-align: center;
    margin: 0px 0px 20px 0px;
}

.footer__images {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer__images img {
    width: 50px;
    margin: 0px 15px;
}