.anchor-load {
    width: 360px;
    height: 400px;
    background: white;
    font-weight: 500;
    font-size: 16px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.load-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    background: #D9D9D9;
    padding: 10px;
    cursor: pointer;
}

.red-load {
    background: #FF8E8E;
}

.load-submit {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.load-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    width: 250px;
}

.load-url {
    width: 114px;
    height: 34px;
    background: #D9D9D9;
    border: 0;
}

.load-text {
    font-weight: 1000;
    font-size: 16px;
    text-align: center;
    width: 100px;
}